/* Hero.scss */

.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* Висота на весь екран */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  text-align: center;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Задній план */
    opacity: 0.9; /* Напівпрозорість */
    
    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Зображення покриває всю секцію */
      filter: blur(2px); /* Розмиття фону */
    }
  }

    &__content {
      z-index: 1;
      /* Попереду фонового зображення */
      background-color: rgba(255, 255, 255, 0.2);
      /* Напівпрозорий фон для тексту */
      backdrop-filter: blur(10px);
      /* Розмиття для тексту */
      border-radius: 12px;
      /* Круглі кути */
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      /* Тінь навколо блоку */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      padding: 72px 12px;
      /* Внутрішні відступи */
      margin: 84px 20px;
      position: relative;
      /* Для використання абсолютного позиціонування всередині */
    }

  @media screen and (min-width: 391px) {
  &__content {
    padding: 100px 40px; /* Внутрішні відступи */
    margin: 100px 40px;
  }
  }

  &__upper {
    display: flex;
    gap: 82px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-align: left;
  }

    &__upper-column {
      // flex: 1;
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: flex-start;
      /* Вирівнювання по лівому краю */
      justify-content: center;
      padding: 0 20px;
    }
@media screen and (min-width: 391px) {
  &__upper-column {
    // flex: 1;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start; /* Вирівнювання по лівому краю */
    justify-content: center;
    padding: 0 20px;
  }
}

  &__upper-column:first-child {
    align-items: flex-start; /* Вирівнювання по лівому краю */
  }

  &__upper-column:last-child {
    align-items: flex-end; /* Вирівнювання по правому краю */
  }

  &__title {
    font-size: 44px;
          /* Розмір шрифту заголовку */
    font-weight: 500;
          /* Жирний шрифт */
    margin: 0;
    line-height: 1;
    color: #333;
          /* Колір тексту */
  }
    @media screen and (min-width: 391px) {
  &__title {
    font-size: 6rem; 
    font-weight: 700; 
    line-height: 1.2;
  }
}

    &__subtitle {
      font-size: 8px;   /* Розмір шрифту підзаголовків */
      margin: 0;
      color: #333;  /* Колір тексту */
      max-width: 100%;
      line-height: 1.3;  /* Запобігання виходу тексту за межі блоку */
    }

        @media screen and (min-width: 391px) {
  &__subtitle {
    font-size: 16px; /* Розмір шрифту підзаголовків */
    line-height: 1.4;
  }
}

    &__subtitle {
    font-size: 1.5rem; /* Розмір шрифту підзаголовків */
    font-weight: 300; /* Легкий шрифт */
    margin: 0;
    color: #333; /* Колір тексту */
    max-width: 100%; /* Запобігання виходу тексту за межі блоку */
  }

     &__lower {
      //  display: flex;
      //  flex-wrap: wrap;
      //  width: 100%;
       
    
       position: relative;/* Для використання абсолютного позиціонування всередині */
     }

@media screen and (min-width: 391px) {
  &__lower {
    display: flex;
    flex-wrap: nowrap;
    align-items: center; /* Центрування по центру */
    justify-content: flex-start; /* Вирівнювання по лівому краю */
    width: 100%;
    gap: 10px;
    text-align: left; /* Текст по лівій стороні */
    position: relative; /* Для використання абсолютного позиціонування всередині */
  }
}

    &__highlighted-text {
      padding-left: 135px;
      font-family: 'Vujahday Script', sans-serif;
      font-size: 48px;    /* Розмір шрифту виділеного тексту */
      line-height: 1.2;
      font-style: italic;  /* Курсив для виділеного тексту */
      font-weight: 400;
      color: #FFFFFF;  /* Виділений колір */
      display: flex;
      align-items: center;
      gap: 10px;
      flex-grow: 1;   /* Забезпечує зайняття всієї доступної ширини */
    }

        @media screen and (min-width: 391px) {
  &__highlighted-text {
    padding-left: 135px;
    font-family: 'Vujahday Script', sans-serif;
    font-size: 104px; /* Розмір шрифту виділеного тексту */
    font-style: italic; /* Курсив для виділеного тексту */
    line-height: .8;
    font-weight: 400;
    color: #FFFFFF; /* Виділений колір */
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1; /* Забезпечує зайняття всієї доступної ширини */
  }
}

    &__main-title {
      font-size: 44px;/* Розмір шрифту заголовку */
      font-weight: 500;/* Жирний шрифт */
      margin: 0;
      line-height: 1;
      color: #333; /* Колір тексту */
    }

        @media screen and (min-width: 391px) {
  &__main-title {
    font-size: 150px; /* Розмір шрифту заголовку */
  }
}

  &__icon {
    width: 50px; /* Розмір іконки */
    height: 50px; /* Розмір іконки */
    position: absolute; /* Абсолютне позиціонування */
    left: 20px; /* Відступ зліва */
    bottom: 20px; /* Відступ знизу */
  }
}
.hero.show-modal .hero__backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.hero.show-modal .hero__modal {
  transform: scale(1);
}

.hero__backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100vw;
  height: 423px;
  // background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.hero__modal {
  display: flex;
  gap: 24px;
  padding: 40px;
  border-radius: 4px;
  max-width: 900px;
  width: 100%;
  // height: 423px;
  // min-height: 320px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;

  &-buttons {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
  }

  &-item {
    width: 180px;
  }
  &-title {
   color:#212529;
   margin: 0;
   margin-bottom: 16px;
   font-size: 24px;
   line-height: 1.3;
   font-weight: 500;
   border-bottom: 1px solid #BABDBF;
  }

}