/* main.scss */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Vujahday+Script&display=swap');


/* Variables */
:root {
  --primary-color: #7b3f00;
  --secondary-color: #ffffff;
  --background-image: url('../img/first-screen.png');
  // --font-stack: 'Arial, sans-serif';
}

/* Reset some default browser styles */
body, h1, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mulish', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}