/* Header.scss */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    /* Прибираємо бокові падінги тут */
    background-color: rgba(255, 255, 255, 0.3);
    /* Напівпрозорий фон */
    backdrop-filter: blur(10px);
    /* Додає розмиття фону */
    // position: absolute;
    width: 1440px;
    top: 0;
    z-index: 1000;

    &__logo {
        margin-left: 40px;
        /* Відступ зліва */
        width: 114px;
        /* Ширина текстового логотипу */
        height: 31px;
        /* Висота текстового логотипу */
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        /* Регулюйте розмір шрифту за потреби */
        // font-weight: bold; /* Жирний шрифт */
        color: #212529;
        /* Колір тексту логотипу */
    }

    &__search {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 2rem;
        position: relative;
        max-width: 400px;
        width: 100%;

        &-input {
            width: 100%;
            padding: 0.5rem 1rem 0.5rem 2.5rem;
            /* Додати відступ для іконки */
            border-radius: 12px;
            border: 1px solid #ccc;
            outline: none;
            font-size: 1rem;
        }

        &-icon {
            position: absolute;
            left: 10px;
            height: 20px;
            width: 20px;
        }
    }

    &__nav {
        &-list {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &-item {
            margin-left: 1.5rem;
        }

        &-link {
            color: #333;
            text-decoration: none;
            font-size: 0.875rem;
            /* Розмір шрифту (приблизно H5) */
            font-weight: 600;
            /* Товщина шрифту */
            text-transform: uppercase;
            /* Великі літери */
            padding: 0.5rem;
            transition: color 0.3s ease;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            /* Тінь для тексту */
            letter-spacing: 1px;
            /* Розрядка для більшого контрасту */

            &:hover {
                color: #000;
            }
        }
    }

    &__user-block {
        display: flex;
        align-items: center;
        margin-right: 40px;
        /* Відступ справа */
        gap: 8px;
        /* Відстань між кнопкою та іконкою */
        overflow: hidden;
        /* Прибираємо кути для іконки */

        &__button {
            padding: 0.75rem 1.5rem;
            background-color: #336B46;
            color: white;
            border: none;
            border-radius: 12px;
            /* Округлі кути для кнопки */
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 1rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 220px;
            height: 48px;

            &:hover {
                background-color: #2d5e3e;
                /* Зміна кольору при наведенні */
            }
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 48px;
                height: 48px;
            }
        }
    }
}