// .hero.show-modal .hero__backdrop {
//     opacity: 1;
//     visibility: visible;
//     pointer-events: initial;
// }

// .hero.show-modal .hero__modal {
//     transform: scale(1);
// }

.backdrop {
    display: flex;
    justify-content: center;
    // align-items: center;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100vw;
    height: 423px;
    // background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;

    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
 
    padding: 40px;
    border-radius: 4px;
    max-width: 900px;
    width: 100%;
    // height: 423px;
    // min-height: 320px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

    // transform: scale(1.1);
    // transition: transform 200ms ease-in-out;

    &-buttons {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
    }

    &-items {
        display: flex;
            gap: 24px;
    }

    &-item {
        width: 180px;
    }

    &-title {
        color: #212529;
        margin: 0;
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 1.3;
        font-weight: 500;
        border-bottom: 1px solid #BABDBF;
    }
&__button {
    width: 136px;
    height: 48px;
    padding: 13px 26px 13px 26px;
    display: block;
    margin-left: auto;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: #336B46;
}
}