.wineInsights {
    width: 100%;
        // height: 1015px;
        padding: 80px 40px 80px 40px;
        background: url('../img/second-screen.png') center center / cover no-repeat;
        /* Фон */
        &__title {
                font-size: 100px;
                font-weight: 500;
                margin: 0;
                margin-left: 40px;
                margin-bottom: 20px;
                line-height: 1;
                color: #333;
            }
         &__sub-title {
                 font-size: 28px;
                 color: #4CAF50;
           /* Колір зеленого підзаголовку */
                 font-style: italic;
                 margin-left: auto;
                 margin-right: auto;
                 margin-bottom: 60px;
                 line-height: 1.2;
                 text-align: center;
                         }

        &__content {
            display: flex;
            gap: 140px;
            width: 290px;
            padding: 0 115px 0 115px;
                  }
         &__content-text {
            margin-top: 170px;
            margin-bottom: 100px;
                  }
         &__content-button {
                 width: 220px;
                 height: 48px;
                 border: 1px solid #336B46;
                border-radius: 12px;
                padding: 13px 26px 13px 26px;                            
          }
        &__thumb {
                       width: 700px;
                       height: 680px;
                       border: none;
                       border-radius: 12px;
                   }
&__thumb > img {
    display: block;
        height: 100%;
        width: 700px;
    
        object-fit: cover;
}
}